@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Bagel+Fat+One&family=Beth+Ellen&family=Bona+Nova&family=Cabin+Sketch:wght@400;700&family=Courier+Prime&family=Crimson+Text&family=Dancing+Script:wght@400;700&family=Ewert&family=Fasthand&family=Fredericka+the+Great&family=Libre+Baskerville&family=Lily+Script+One&family=Lora&family=Merriweather:wght@400;900&family=Monoton&family=Playfair+Display:wght@400;500&family=Quicksand&family=Raleway&family=Righteous&family=Rubik+Pixels&family=Special+Elite&family=Work+Sans:wght@300;400&display=swap');
:root {
   --navbar-background: black;
   --footer-background: black;
}

* {
   box-sizing: border-box;
   margin: 0;
}


#content {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

/*** NAV BAR ***/
.navbar-container {
   background-color: var(--navbar-background);
   padding: 30px;
   color: white;
   display: flex;
   align-items: center;
   border-bottom: 5px solid goldenrod;
}
ul.list {
   list-style: none;
   display: flex;
   justify-content: space-evenly;
   flex: 1;
   gap: 10px;
}
li {
   transition: all .3s ease-in-out;
}
li:hover {
   cursor: pointer;
   color: rgb(81, 130, 198);
}

/*** MAIN ***/
main {
   background: url('../assets/ingredients-background.jpg');
   color: white;
   padding: 15px 0 30px 0;
   background-position: center;
   background-size: contain;
}

/*** FOOTER ***/
footer {
   display: flex;
   justify-content: center;
   color: white;
   background-color: var(--footer-background);
   padding: 10px;
}